.assignmentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.assignmentSectionTitle {
  font-weight: bold;
}

.assignmentSectionSubContent {
  list-style: lower-alpha;
}

.stretchLevelsOverview {
  margin-bottom: 1rem;
}

.stretchLevelsOverview {
  margin-left: 1rem;
}

.stretchLevel {
  margin-left: 1rem;
}

.stretchLevelTitle {
  font-weight: bold;
}

.stretchLevelDescription {
  margin-left: 1rem;
}
