body {
  background-color: orange;
}

div {
  font-style: italic;
  background-color: lightblue;
}

.colorLimeGreen {
  color: limegreen;
}

.big {
  font-size: 2rem;
}

#firstDiv {
  font-weight: bold;
}

.error {
  color: red;
}
