/* stylelint-disable selector-class-pattern */
.signalRConnectionState {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  background-color: black;
  box-sizing: border-box;
  padding: .5rem;
  border: 5px solid red;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  .signalRConnectionState {
    width: 50vw;
    left: 25vw;
  }
}
