.container {
  border: 3px solid blue;

  display: flex;
  flex-wrap: wrap;

  gap: 1rem;

  justify-content: space-evenly;
}

.red {
  height: 15rem;
  width: 15rem;
  background-color: red;
  border: 3px solid black;
  font-size: 1rem;
}
