html,
body {
  overflow-x: hidden;
}

html {
  font-size: calc(15px + 0.390625vw);
  height: 100%;
}

body {
  color: white;
  background-color: #242424;
  padding: 0.5rem;
}

a {
  color: lightblue;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
