html,
body {
  overflow-x: hidden;
}

html {
  font-size: calc(15px + 0.390625vw);
  height: 100%;
}

body {
  color: white;
  background-color: #242424;
  padding: 0.1rem;
  min-height: 100dvh;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  color: lightblue;
}

.title {
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95%;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  overflow-wrap: anywhere;
  white-space: nowrap;
}

.navbar-nav a {
  overflow-wrap: normal;
}

@media (min-width: 1000px) {
  .contentContainer {
    width: 60%;
  }
}
