.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.project {
  width: 48%;
  background-color: #111;
  padding: 0.5rem;
  border-radius: 1rem;
}

.projectDescription {
  font-size: 0.9rem;
}
