.stretchLevelsContainer {
  width: 100%;
}

.stretchLevelsExample {
  margin-top: 2rem;
}

.copyToClipboardIcon {
  cursor: pointer;
}

.copiedMessage {
  opacity: 0;
  color: lime;
  margin-left: 0.5rem;
  transition: opacity 0.5s ease;
}

.copiedMessage.visible {
  opacity: 1;
  transition: opacity 0.2s ease;
}
