.theQuestContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.transparentBox {
  background-color: #000000cc;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.players {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.player {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progressElements {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.playerName {
  color: white;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 100;
  width: 7rem;
  padding: 0 0.5rem;
}

.playerPath {
  font-size: 0.5rem;
  z-index: 100;
}

.transparentCircle {
  border: 5px solid black;
  background-color: #000000cc;
  border-radius: 50%;
  position: absolute;
  width: 7rem;
  height: 7rem;
}

.progressDiv {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  transition: transform linear 1s;
  z-index: 200;
}

:root {
  --progressDiv-radius: -3.5rem;
}

.progressDiv img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.progressDiv {
  animation: rotateProgresDiv 60s infinite linear;
}

.step8 img {
  transform: scaleY(-1);
}

.step9 img {
  transform: initial;
}

@keyframes rotateProgresDiv {
  0% {
    transform: rotate(calc(var(--progressDiv-angle) * var(--index)))
      translate(0, var(--progressDiv-radius))
      rotate(calc(var(--progressDiv-angle) * -1 * var(--index)));
  }
  100% {
    transform: rotate(calc(var(--progressDiv-angle) * var(--index) + 360deg))
      translate(0, var(--progressDiv-radius))
      rotate(calc(var(--progressDiv-angle) * -1 * var(--index) - 360deg));
  }
}

@media only screen and (min-width: 1000px) {
  .player {
    width: 14rem;
    height: 14rem;
  }

  .transparentCircle {
    top: 2rem;
    left: 2rem;
    width: 10rem;
    height: 10rem;
  }

  .playerName {
    width: 10rem;
  }

  :root {
    --progressDiv-radius: 5rem;
  }

  .progressDiv {
    width: 3.25rem;
    height: 3.25rem;
  }
}
